<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Default View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Default View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/42928bbf-8660-4f5a-a238-88beb38c576e.png" alt="Default View" usemap="#42928bbf-8660-4f5a-a238-88beb38c576emap"/>
			   <map name="42928bbf-8660-4f5a-a238-88beb38c576emap">
				  				<area shape="rect" coords="742,466,862,521" href="../elements/d35ae2a7-0c9d-4128-97aa-ddaa146db2ef.html"  target="element">
				  				<area shape="rect" coords="599,466,719,521" href="../elements/b91bf4f4-7aa0-4537-9061-1fa32bab2ee0.html"  target="element">
				  				<area shape="rect" coords="599,394,719,449" href="../elements/204ca2ac-44a6-421d-8426-b6121c3c0ce6.html"  target="element">
				  				<area shape="rect" coords="742,394,862,449" href="../elements/8ff8026f-af83-4add-8769-e029dbdfdbf7.html"  target="element">

				          <area shape="rect" coords="562,370,1030,527" href="../objects/6d9b2669-d9c3-490a-895e-40cd6b6d4f5a.html" target="element" >
				  				<area shape="rect" coords="371,790,491,845" href="../elements/764c69f7-9f5f-45bd-a831-492777e278d4.html"  target="element">
				  				<area shape="rect" coords="207,790,327,845" href="../elements/4e03455d-76ec-48c0-bedb-35ca87577a47.html"  target="element">
				  				<area shape="rect" coords="34,790,154,845" href="../elements/40a6b7a9-6bb8-46f3-80d3-a997958260a2.html"  target="element">
				  				<area shape="rect" coords="371,724,491,779" href="../elements/8afac77b-530f-4442-b2d5-d2d66cd92809.html"  target="element">
				  				<area shape="rect" coords="207,724,327,779" href="../elements/dcf78b21-6e83-47ae-b59a-c5fc129916c6.html"  target="element">
				  				<area shape="rect" coords="35,718,155,773" href="../elements/6f58edfc-4790-4a87-b487-d4efa21ebed9.html"  target="element">

				          <area shape="rect" coords="11,682,515,862" href="../objects/4b1daec2-3cc4-4042-94e8-5babca66c254.html" target="element" >
				  				<area shape="rect" coords="886,862,1006,917" href="../elements/2892c663-b24b-4d5e-ba49-29b87d65fd88.html"  target="element">
				  				<area shape="rect" coords="742,862,862,917" href="../elements/038cf00b-b14c-46a4-ac6f-140cd1d6458d.html"  target="element">
				  				<area shape="rect" coords="742,934,862,989" href="../elements/e849f51f-2e24-4559-88d7-a4d6421cc29f.html"  target="element">
				  				<area shape="rect" coords="586,934,706,989" href="../elements/86053069-4d54-475d-b7f9-e57377f78b33.html"  target="element">
				  				<area shape="rect" coords="586,862,706,917" href="../elements/0f33dc6e-5b0e-46b8-af8e-c4adc660b4a2.html"  target="element">

				          <area shape="rect" coords="562,826,1030,1006" href="../objects/b732f3dc-f99e-4cd6-9ae1-1d9f36572dff.html" target="element" >
				  				<area shape="rect" coords="586,718,706,773" href="../elements/e99f63e5-fa8c-45dc-a5fb-556e955fe1ca.html"  target="element">

				          <area shape="rect" coords="562,682,1030,802" href="../objects/ea723501-8e34-4021-9d9d-1ab887e477c9.html" target="element" >
				  				<area shape="rect" coords="742,575,862,630" href="../elements/6678d390-e44f-45a8-8b4f-90d7dc2ddd9c.html"  target="element">
				  				<area shape="rect" coords="598,575,718,630" href="../elements/484b824c-73fe-443c-8438-df051b03e2cc.html"  target="element">

				          <area shape="rect" coords="562,539,1030,659" href="../objects/edb6a32d-372a-4646-8643-9fcf97510d76.html" target="element" >
				  				<area shape="rect" coords="1186,274,1306,329" href="../elements/b9e7e67d-06ed-4d41-b5c3-259b5d719f74.html"  target="element">
				  				<area shape="rect" coords="1186,60,1306,115" href="../elements/766b5c19-1e52-43bb-80a4-c9c47fb690c8.html"  target="element">
				  				<area shape="rect" coords="1042,274,1162,329" href="../elements/586c7fc1-a37a-40e9-8950-76f15214f295.html"  target="element">
				  				<area shape="rect" coords="1042,202,1162,257" href="../elements/b7e2c8b7-02b9-4759-ac7f-1132738fdb38.html"  target="element">
				  				<area shape="rect" coords="1042,130,1162,185" href="../elements/37e14545-ddf5-44e9-8aea-3932e243b0ab.html"  target="element">
				  				<area shape="rect" coords="1042,60,1162,115" href="../elements/f87a867e-bdb7-46f0-9f75-2f9288e65e82.html"  target="element">
				  				<area shape="rect" coords="742,60,862,115" href="../elements/e4ebde86-c5c3-4cfe-8776-3da588b52dfb.html"  target="element">
				  				<area shape="rect" coords="594,274,714,329" href="../elements/0fce15b8-0513-4e76-866d-1d0fad29d95e.html"  target="element">
				  				<area shape="rect" coords="742,274,862,329" href="../elements/722570dc-cc4e-428b-8422-9198175833af.html"  target="element">
				  				<area shape="rect" coords="898,274,1018,329" href="../elements/7fcd7e5e-5503-4329-a81b-6d8e9e62b19b.html"  target="element">
				  				<area shape="rect" coords="898,202,1018,257" href="../elements/82d65f47-1e58-4ac3-8658-ab255a59deed.html"  target="element">
				  				<area shape="rect" coords="898,130,1018,185" href="../elements/77bd9b91-a941-4bf3-90a1-ae3457ce6bed.html"  target="element">
				  				<area shape="rect" coords="898,60,1018,115" href="../elements/5e197e3c-8fd2-402d-b376-df4f178fae34.html"  target="element">
				  				<area shape="rect" coords="742,202,862,257" href="../elements/904b422a-db66-4d2a-9ce8-d3aa445b303e.html"  target="element">
				  				<area shape="rect" coords="742,130,862,185" href="../elements/38eacfb5-ffac-4170-bd65-c773edde5fea.html"  target="element">
				  				<area shape="rect" coords="594,202,714,257" href="../elements/729ea994-8639-4c6a-b91f-927b1e1204d9.html"  target="element">
				  				<area shape="rect" coords="594,130,714,185" href="../elements/e924e791-6622-4bd0-b504-0827b8631e81.html"  target="element">
				  				<area shape="rect" coords="594,60,714,115" href="../elements/ace6be12-56dc-4992-a2b0-dbc6c645029f.html"  target="element">

				          <area shape="rect" coords="562,10,1319,346" href="../objects/38c4d4ad-8986-4703-b287-210bd7ad9dfd.html" target="element" >
				  				<area shape="rect" coords="214,598,334,653" href="../elements/2eacc361-acc2-4b98-8638-83d32e8b280f.html"  target="element">
				  				<area shape="rect" coords="382,454,502,509" href="../elements/095bda23-d72a-40ff-b9f2-a56799291c24.html"  target="element">
				  				<area shape="rect" coords="214,526,334,581" href="../elements/fa54454b-1b8d-44f8-9ff4-85aa7318dc48.html"  target="element">
				  				<area shape="rect" coords="382,382,502,437" href="../elements/8217ff1c-b5c9-4e64-90af-612fd2dc1e78.html"  target="element">
				  				<area shape="rect" coords="214,454,334,509" href="../elements/9f1e1685-6928-4d02-989f-399df8dc0da7.html"  target="element">
				  				<area shape="rect" coords="214,382,334,437" href="../elements/b709b872-b0a8-4d3c-b3e0-ded2d5322546.html"  target="element">
				  				<area shape="rect" coords="46,526,166,581" href="../elements/d2ae5e7a-8575-4750-9a58-d672559183dc.html"  target="element">
				  				<area shape="rect" coords="46,454,166,509" href="../elements/7a6fd3a4-b503-46ef-b902-141317c7eda1.html"  target="element">
				  				<area shape="rect" coords="46,382,166,437" href="../elements/ad128cbb-99e7-43f2-893f-30aff1d7b3e7.html"  target="element">

				          <area shape="rect" coords="10,346,515,659" href="../objects/e9654cfb-f013-486a-a746-7183cc34bef6.html" target="element" >
				  				<area shape="rect" coords="226,178,346,233" href="../elements/f7068a97-fd05-4521-96ae-72d8c0981c5a.html"  target="element">
				  				<area shape="rect" coords="226,34,346,89" href="../elements/23bbf50a-aba2-4fad-a9be-63f60c157c9a.html"  target="element">
				  				<area shape="rect" coords="46,250,166,305" href="../elements/935a501d-3f31-482d-9469-80b6af0ba45c.html"  target="element">
				  				<area shape="rect" coords="382,34,502,89" href="../elements/c1bdcae5-3a6e-4c9d-9e50-a8940a07874c.html"  target="element">
				  				<area shape="rect" coords="46,178,166,233" href="../elements/4ad874e4-b061-49c9-8982-1326cc2d8331.html"  target="element">
				  				<area shape="rect" coords="46,106,166,161" href="../elements/5eb3022c-d458-4486-afa3-114a1af8ae87.html"  target="element">
				  				<area shape="rect" coords="46,34,166,89" href="../elements/c9066382-9465-49c5-96f5-f4e11464137c.html"  target="element">
				  				<area shape="rect" coords="226,106,346,161" href="../elements/14fb39a0-2982-44a4-a9ea-454ba5bf8344.html"  target="element">

				          <area shape="rect" coords="10,10,515,323" href="../objects/ad05b3eb-8f3e-4ebf-b9e2-ecabdceffaaf.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/ad05b3eb-8f3e-4ebf-b9e2-ecabdceffaaf.html" target="element"> Databases </a> </td>
									           <td> <a href="../objects/ad05b3eb-8f3e-4ebf-b9e2-ecabdceffaaf.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/14fb39a0-2982-44a4-a9ea-454ba5bf8344.html" target="element"> Redis </a> </td>
													    <td> <a href="../elements/14fb39a0-2982-44a4-a9ea-454ba5bf8344.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c9066382-9465-49c5-96f5-f4e11464137c.html" target="element"> PostgreSQL </a> </td>
													    <td> <a href="../elements/c9066382-9465-49c5-96f5-f4e11464137c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5eb3022c-d458-4486-afa3-114a1af8ae87.html" target="element"> Oracle </a> </td>
													    <td> <a href="../elements/5eb3022c-d458-4486-afa3-114a1af8ae87.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4ad874e4-b061-49c9-8982-1326cc2d8331.html" target="element"> MongoDb </a> </td>
													    <td> <a href="../elements/4ad874e4-b061-49c9-8982-1326cc2d8331.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c1bdcae5-3a6e-4c9d-9e50-a8940a07874c.html" target="element"> Elastic-Search </a> </td>
													    <td> <a href="../elements/c1bdcae5-3a6e-4c9d-9e50-a8940a07874c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/935a501d-3f31-482d-9469-80b6af0ba45c.html" target="element"> MarkLogic </a> </td>
													    <td> <a href="../elements/935a501d-3f31-482d-9469-80b6af0ba45c.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/23bbf50a-aba2-4fad-a9be-63f60c157c9a.html" target="element"> InfluxDB </a> </td>
													    <td> <a href="../elements/23bbf50a-aba2-4fad-a9be-63f60c157c9a.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f7068a97-fd05-4521-96ae-72d8c0981c5a.html" target="element"> SQL Server </a> </td>
													    <td> <a href="../elements/f7068a97-fd05-4521-96ae-72d8c0981c5a.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/e9654cfb-f013-486a-a746-7183cc34bef6.html" target="element"> Programming Platform </a> </td>
									           <td> <a href="../objects/e9654cfb-f013-486a-a746-7183cc34bef6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/ad128cbb-99e7-43f2-893f-30aff1d7b3e7.html" target="element"> Java </a> </td>
													    <td> <a href="../elements/ad128cbb-99e7-43f2-893f-30aff1d7b3e7.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7a6fd3a4-b503-46ef-b902-141317c7eda1.html" target="element"> C#/.net (CORE) </a> </td>
													    <td> <a href="../elements/7a6fd3a4-b503-46ef-b902-141317c7eda1.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d2ae5e7a-8575-4750-9a58-d672559183dc.html" target="element"> Python </a> </td>
													    <td> <a href="../elements/d2ae5e7a-8575-4750-9a58-d672559183dc.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b709b872-b0a8-4d3c-b3e0-ded2d5322546.html" target="element"> Go </a> </td>
													    <td> <a href="../elements/b709b872-b0a8-4d3c-b3e0-ded2d5322546.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9f1e1685-6928-4d02-989f-399df8dc0da7.html" target="element"> JavaScript/TypeScript </a> </td>
													    <td> <a href="../elements/9f1e1685-6928-4d02-989f-399df8dc0da7.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8217ff1c-b5c9-4e64-90af-612fd2dc1e78.html" target="element"> Gen/Tuxedo </a> </td>
													    <td> <a href="../elements/8217ff1c-b5c9-4e64-90af-612fd2dc1e78.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fa54454b-1b8d-44f8-9ff4-85aa7318dc48.html" target="element"> C / C++ </a> </td>
													    <td> <a href="../elements/fa54454b-1b8d-44f8-9ff4-85aa7318dc48.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/095bda23-d72a-40ff-b9f2-a56799291c24.html" target="element"> Mendix </a> </td>
													    <td> <a href="../elements/095bda23-d72a-40ff-b9f2-a56799291c24.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2eacc361-acc2-4b98-8638-83d32e8b280f.html" target="element"> Rust </a> </td>
													    <td> <a href="../elements/2eacc361-acc2-4b98-8638-83d32e8b280f.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/38c4d4ad-8986-4703-b287-210bd7ad9dfd.html" target="element"> Infrastructure </a> </td>
									           <td> <a href="../objects/38c4d4ad-8986-4703-b287-210bd7ad9dfd.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/ace6be12-56dc-4992-a2b0-dbc6c645029f.html" target="element"> BLOB-Storage </a> </td>
													    <td> <a href="../elements/ace6be12-56dc-4992-a2b0-dbc6c645029f.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e924e791-6622-4bd0-b504-0827b8631e81.html" target="element"> Azure F5 BIG-IP </a> </td>
													    <td> <a href="../elements/e924e791-6622-4bd0-b504-0827b8631e81.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/729ea994-8639-4c6a-b91f-927b1e1204d9.html" target="element"> CA Api Management </a> </td>
													    <td> <a href="../elements/729ea994-8639-4c6a-b91f-927b1e1204d9.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/38eacfb5-ffac-4170-bd65-c773edde5fea.html" target="element"> Apache </a> </td>
													    <td> <a href="../elements/38eacfb5-ffac-4170-bd65-c773edde5fea.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/904b422a-db66-4d2a-9ce8-d3aa445b303e.html" target="element"> Splunk </a> </td>
													    <td> <a href="../elements/904b422a-db66-4d2a-9ce8-d3aa445b303e.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5e197e3c-8fd2-402d-b376-df4f178fae34.html" target="element"> ELK (Elastic-search Logstash Kibina) </a> </td>
													    <td> <a href="../elements/5e197e3c-8fd2-402d-b376-df4f178fae34.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/77bd9b91-a941-4bf3-90a1-ae3457ce6bed.html" target="element"> Docker/K8S </a> </td>
													    <td> <a href="../elements/77bd9b91-a941-4bf3-90a1-ae3457ce6bed.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/82d65f47-1e58-4ac3-8658-ab255a59deed.html" target="element"> MapServer </a> </td>
													    <td> <a href="../elements/82d65f47-1e58-4ac3-8658-ab255a59deed.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7fcd7e5e-5503-4329-a81b-6d8e9e62b19b.html" target="element"> GeoServer </a> </td>
													    <td> <a href="../elements/7fcd7e5e-5503-4329-a81b-6d8e9e62b19b.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/722570dc-cc4e-428b-8422-9198175833af.html" target="element"> Tuxedo </a> </td>
													    <td> <a href="../elements/722570dc-cc4e-428b-8422-9198175833af.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0fce15b8-0513-4e76-866d-1d0fad29d95e.html" target="element"> OracleAQ </a> </td>
													    <td> <a href="../elements/0fce15b8-0513-4e76-866d-1d0fad29d95e.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e4ebde86-c5c3-4cfe-8776-3da588b52dfb.html" target="element"> NGINX </a> </td>
													    <td> <a href="../elements/e4ebde86-c5c3-4cfe-8776-3da588b52dfb.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f87a867e-bdb7-46f0-9f75-2f9288e65e82.html" target="element"> EBMS Seeburger </a> </td>
													    <td> <a href="../elements/f87a867e-bdb7-46f0-9f75-2f9288e65e82.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/37e14545-ddf5-44e9-8aea-3932e243b0ab.html" target="element"> EBMS Opentunnel </a> </td>
													    <td> <a href="../elements/37e14545-ddf5-44e9-8aea-3932e243b0ab.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b7e2c8b7-02b9-4759-ac7f-1132738fdb38.html" target="element"> SAP-PI Messaging </a> </td>
													    <td> <a href="../elements/b7e2c8b7-02b9-4759-ac7f-1132738fdb38.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/586c7fc1-a37a-40e9-8950-76f15214f295.html" target="element"> Apache Camel </a> </td>
													    <td> <a href="../elements/586c7fc1-a37a-40e9-8950-76f15214f295.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/766b5c19-1e52-43bb-80a4-c9c47fb690c8.html" target="element"> Liferay </a> </td>
													    <td> <a href="../elements/766b5c19-1e52-43bb-80a4-c9c47fb690c8.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b9e7e67d-06ed-4d41-b5c3-259b5d719f74.html" target="element"> Azure Service Bus </a> </td>
													    <td> <a href="../elements/b9e7e67d-06ed-4d41-b5c3-259b5d719f74.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/edb6a32d-372a-4646-8643-9fcf97510d76.html" target="element"> (SAAS) Suites </a> </td>
									           <td> <a href="../objects/edb6a32d-372a-4646-8643-9fcf97510d76.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/484b824c-73fe-443c-8438-df051b03e2cc.html" target="element"> ServiceNow </a> </td>
													    <td> <a href="../elements/484b824c-73fe-443c-8438-df051b03e2cc.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6678d390-e44f-45a8-8b4f-90d7dc2ddd9c.html" target="element"> SAP </a> </td>
													    <td> <a href="../elements/6678d390-e44f-45a8-8b4f-90d7dc2ddd9c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/ea723501-8e34-4021-9d9d-1ab887e477c9.html" target="element"> Desktop / KA / Collaboration </a> </td>
									           <td> <a href="../objects/ea723501-8e34-4021-9d9d-1ab887e477c9.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/e99f63e5-fa8c-45dc-a5fb-556e955fe1ca.html" target="element"> Office 365 / SharePoint </a> </td>
													    <td> <a href="../elements/e99f63e5-fa8c-45dc-a5fb-556e955fe1ca.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/b732f3dc-f99e-4cd6-9ae1-1d9f36572dff.html" target="element"> Geo Desktop </a> </td>
									           <td> <a href="../objects/b732f3dc-f99e-4cd6-9ae1-1d9f36572dff.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/0f33dc6e-5b0e-46b8-af8e-c4adc660b4a2.html" target="element"> ESRI (Arc* suite) </a> </td>
													    <td> <a href="../elements/0f33dc6e-5b0e-46b8-af8e-c4adc660b4a2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/86053069-4d54-475d-b7f9-e57377f78b33.html" target="element"> QGIS </a> </td>
													    <td> <a href="../elements/86053069-4d54-475d-b7f9-e57377f78b33.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e849f51f-2e24-4559-88d7-a4d6421cc29f.html" target="element"> Move3 </a> </td>
													    <td> <a href="../elements/e849f51f-2e24-4559-88d7-a4d6421cc29f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/038cf00b-b14c-46a4-ac6f-140cd1d6458d.html" target="element"> Intergraph / Hexagon </a> </td>
													    <td> <a href="../elements/038cf00b-b14c-46a4-ac6f-140cd1d6458d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2892c663-b24b-4d5e-ba49-29b87d65fd88.html" target="element"> MapInfo </a> </td>
													    <td> <a href="../elements/2892c663-b24b-4d5e-ba49-29b87d65fd88.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/4b1daec2-3cc4-4042-94e8-5babca66c254.html" target="element"> Development </a> </td>
									           <td> <a href="../objects/4b1daec2-3cc4-4042-94e8-5babca66c254.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/6f58edfc-4790-4a87-b487-d4efa21ebed9.html" target="element"> JIRA </a> </td>
													    <td> <a href="../elements/6f58edfc-4790-4a87-b487-d4efa21ebed9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/dcf78b21-6e83-47ae-b59a-c5fc129916c6.html" target="element"> Git(hub) </a> </td>
													    <td> <a href="../elements/dcf78b21-6e83-47ae-b59a-c5fc129916c6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8afac77b-530f-4442-b2d5-d2d66cd92809.html" target="element"> Artifactory </a> </td>
													    <td> <a href="../elements/8afac77b-530f-4442-b2d5-d2d66cd92809.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/40a6b7a9-6bb8-46f3-80d3-a997958260a2.html" target="element"> Slack </a> </td>
													    <td> <a href="../elements/40a6b7a9-6bb8-46f3-80d3-a997958260a2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4e03455d-76ec-48c0-bedb-35ca87577a47.html" target="element"> Sonar </a> </td>
													    <td> <a href="../elements/4e03455d-76ec-48c0-bedb-35ca87577a47.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/764c69f7-9f5f-45bd-a831-492777e278d4.html" target="element"> Jenkins </a> </td>
													    <td> <a href="../elements/764c69f7-9f5f-45bd-a831-492777e278d4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/6d9b2669-d9c3-490a-895e-40cd6b6d4f5a.html" target="element"> Scheduling / Workflow </a> </td>
									           <td> <a href="../objects/6d9b2669-d9c3-490a-895e-40cd6b6d4f5a.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/8ff8026f-af83-4add-8769-e029dbdfdbf7.html" target="element"> Argo Workflows </a> </td>
													    <td> <a href="../elements/8ff8026f-af83-4add-8769-e029dbdfdbf7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/204ca2ac-44a6-421d-8426-b6121c3c0ce6.html" target="element"> Luigi </a> </td>
													    <td> <a href="../elements/204ca2ac-44a6-421d-8426-b6121c3c0ce6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b91bf4f4-7aa0-4537-9061-1fa32bab2ee0.html" target="element"> Airflow </a> </td>
													    <td> <a href="../elements/b91bf4f4-7aa0-4537-9061-1fa32bab2ee0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d35ae2a7-0c9d-4128-97aa-ddaa146db2ef.html" target="element"> Hangfire </a> </td>
													    <td> <a href="../elements/d35ae2a7-0c9d-4128-97aa-ddaa146db2ef.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>